<a href="https://colab.research.google.com/github/ankitaattavar/Pandas/blob/main/Copy_of_Assessment2B.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###### Assessment

###### I am going to provide two .csv files , you are supposed to work on them and have to provide solutions to the following problems

###### import necessary libraries

In [26]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

###### merge those two csv files (after getting as dataframes, get them as a single dataframe)

In [27]:
from google.colab import drive 
drive.mount('/content/gdrive')
df1=pd.read_csv('gdrive/My Drive/college_1.csv')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [28]:
df1=pd.read_csv('gdrive/My Drive/college_1.csv')
df1.head()
df1.info()
df1.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84 entries, 0 to 83
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               84 non-null     object
 1   python             84 non-null     float64
 2   mysql              84 non-null     float64
 3   Previous Geekions  84 non-null     int64
 4   CodeKata Score     84 non-null     int64
 5   Department         84 non-null     object
 6   Rising             84 non-null     int64
dtypes: float64(2), int64(3), object(2)
memory usage: 4.7+ KB

           python      mysql  Previous Geekions  CodeKata Score      Rising
count   84.000000   84.00000          84.000000       84.000000   84.000000
mean    73.392857   27.60119        2904.523810     2906.071429    1.547619
std     35.589280   36.30562        4372.425826     4374.184197   14.184163
min      0.000000    0.00000           0.000000        0.000000    0.000000
25%     52.250000    0.00000         292.500000      292.500000    0.000000
50%     90.250000   11.62500        1580.000000     1580.000000    0.000000
75%    100.000000   41.00000        3727.500000     3727.500000    0.000000
max    100.000000  100.00000       24500.000000    24500.000000  130.000000

In [29]:
df2=pd.read_csv('gdrive/My Drive/college_2.csv')
df2.head()
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Name                    35 non-null     object
 1   python                  35 non-null     int64
 2   python_en               35 non-null     int64
 3   mysql                   35 non-null     int64
 4   computational_thinking  35 non-null     int64
 5   Previous Geekions       35 non-null     int64
 6   CodeKata Score          35 non-null     int64
 7   Department              35 non-null     object
 8   Rising                  35 non-null     int64
dtypes: int64(7), object(2)
memory usage: 2.6+ KB

In [30]:
df2.describe()

,python,python_en,mysql,computational_thinking,Previous Geekions,CodeKata Score,Rising
count,35.000000,35.000000,35.000000,35.000000,35.000000,35.000000,35.000000
mean,8.657143,29.657143,13.657143,2.200000,6093.142857,6801.428571,708.285714
std,25.795511,30.582524,22.002597,7.015948,3650.436534,3765.281134,836.429687
min,-1.000000,-1.000000,-1.000000,-1.000000,0.000000,0.000000,0.000000
25%,-1.000000,0.000000,0.000000,0.000000,4035.000000,4630.000000,0.000000
50%,-1.000000,20.000000,0.000000,0.000000,6060.000000,7550.000000,380.000000
75%,-1.000000,52.000000,24.000000,0.000000,7325.000000,8240.000000,1350.000000
max,100.000000,100.000000,100.000000,39.000000,19400.000000,19400.000000,3140.000000

In [33]:
df=pd.concat([df1, df2], axis=0, ignore_index=True)
#df = pd.merge(df1,df2, on='CodeKata Score', how='outer')
df.head(2)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119 entries, 0 to 118
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Name                    119 non-null    object
 1   python                  119 non-null    float64
 2   mysql                   119 non-null    float64
 3   Previous Geekions       119 non-null    int64
 4   CodeKata Score          119 non-null    int64
 5   Department              119 non-null    object
 6   Rising                  119 non-null    int64
 7   python_en               35 non-null     float64
 8   computational_thinking  35 non-null     float64
dtypes: float64(4), int64(3), object(2)
memory usage: 8.5+ KB

In [34]:
df.fillna(0)
df.head()

,Name,python,mysql,Previous Geekions,CodeKata Score,Department,Rising,python_en,computational_thinking
0,A.Dharani,82.0,20.0,24500,24500,Computer Science and Engineering,0,NaN,NaN
1,V.JEEVITHA,82.0,20.0,21740,21740,Computer Science and Engineering,0,NaN,NaN
2,HEMAVATHI.R,100.0,100.0,19680,19680,Computer Science and Engineering,0,NaN,NaN
3,Mugunthan S,100.0,47.0,10610,10610,Computer Science and Engineering,0,NaN,NaN
4,Sathammai.S,100.0,8.0,8980,8980,Computer Science and Engineering,0,NaN,NaN

###### Take each csv file , split that csv file into multiple categories (example csv files are added in the repo)

###### consider if the codekata score exceeds 15000 points(present week) then make a csv on those observations as Exceeded expectations.csv

In [35]:
exceeded_expectations=df.loc[df['CodeKata Score']>15000]
exceeded_expectations
#exceeded_expectations.to_csv('gdrive/My Drive/Exceeded_Expectations.csv')

,Name,python,mysql,Previous Geekions,CodeKata Score,Department,Rising,python_en,computational_thinking
0,A.Dharani,82.0,20.0,24500,24500,Computer Science and Engineering,0,NaN,NaN
1,V.JEEVITHA,82.0,20.0,21740,21740,Computer Science and Engineering,0,NaN,NaN
2,HEMAVATHI.R,100.0,100.0,19680,19680,Computer Science and Engineering,0,NaN,NaN
84,ASHOK KUMAR K,100.0,31.0,19400,19400,Electronics and Electrical Engineering,0,0.0,9.0

In [36]:
exceeded_expectations.to_csv('gdrive/My Drive/Exceeded_Expectations.csv')
e_expec=pd.read_csv('gdrive/My Drive/Exceeded_Expectations.csv')
e_expec.head()

,Unnamed: 0,Name,python,mysql,Previous Geekions,CodeKata Score,Department,Rising,python_en,computational_thinking
0,0,A.Dharani,82.0,20.0,24500,24500,Computer Science and Engineering,0,NaN,NaN
1,1,V.JEEVITHA,82.0,20.0,21740,21740,Computer Science and Engineering,0,NaN,NaN
2,2,HEMAVATHI.R,100.0,100.0,19680,19680,Computer Science and Engineering,0,NaN,NaN
3,84,ASHOK KUMAR K,100.0,31.0,19400,19400,Electronics and Electrical Engineering,0,0.0,9.0

###### if  10000<codekata score<15000   (Reached_expectations.csv)

In [37]:
reached_expectations=df.loc[(df['CodeKata Score']<15000) & (df['CodeKata Score']>10000)]
reached_expectations

,Name,python,mysql,Previous Geekions,CodeKata Score,Department,Rising,python_en,computational_thinking
3,Mugunthan S,100.0,47.0,10610,10610,Computer Science and Engineering,0,NaN,NaN
85,Chandru,0.0,0.0,14150,14490,Computer Science and Engineering,340,20.0,0.0
86,Ganesh Ramkumar R,-1.0,24.0,8790,10790,Computer Science and Engineering,2000,55.0,6.0
87,Bodipudi Harini,-1.0,35.0,10040,10040,Electronics and Communication Engineering,0,0.0,-1.0

In [38]:
reached_expectations.to_csv('gdrive/My Drive/Reached_Expectations.csv')

###### if  7000<codekata score<10000   (Needs_Improvement.csv)

In [39]:
needs_improvement=df.loc[(df['CodeKata Score']<10000) & (df['CodeKata Score']>7000)]
needs_improvement
needs_improvement.to_csv('gdrive/My Drive/Needs_Improvement.csv')

###### if  codekate score < 7000        (Unsatisfactory.csv)

In [40]:
unsatisfactory=df.loc[df['CodeKata Score']<7000]
unsatisfactory
unsatisfactory.to_csv('gdrive/My Drive/unsatisfactory.csv')

###### Average of previous week geekions vs this week geekions (i.e Previous Geekions vs CodeKata Score)

In [52]:
average1=df['Previous Geekions'].mean()
average2=df['CodeKata Score'].mean()

In [56]:
print(average1)
print(average2)

3842.3529411764707
4051.764705882353

###### No of students participated

In [60]:
no_of_students=df['Name'].count()
no_of_students

119

###### #Average completion of python course or my_sql or python english or computational thinking

In [65]:
avg_completion=df.loc[(df['python']==100.0) | (df['mysql']==100.0) | (df['python_en']==100.0) | (df['computational_thinking']==100.0)]
print('Average completion of python course or my_sql or python english or computational thinking is: ',(len(avg_completion.index)/len(df.index))*100)

Average completion of python course or my_sql or python english or computational thinking is:  38.655462184873954

###### rising star of the week (top 3 candidate who performed well in that particular week)

In [66]:
df.nlargest(3,'Rising')

,Name,python,mysql,Previous Geekions,CodeKata Score,Department,Rising,python_en,computational_thinking
92,shifak N,58.0,0.0,5180,8320,Electronics and Electrical Engineering,3140,0.0,0.0
86,Ganesh Ramkumar R,-1.0,24.0,8790,10790,Computer Science and Engineering,2000,55.0,6.0
102,Narasimhan Y L,-1.0,0.0,4800,6800,Computer Science and Engineering,2000,-1.0,0.0

###### Shining stars of the week (top 3 candidates who has highest geekions)

In [67]:
df.nlargest(3,'CodeKata Score')

,Name,python,mysql,Previous Geekions,CodeKata Score,Department,Rising,python_en,computational_thinking
0,A.Dharani,82.0,20.0,24500,24500,Computer Science and Engineering,0,NaN,NaN
1,V.JEEVITHA,82.0,20.0,21740,21740,Computer Science and Engineering,0,NaN,NaN
2,HEMAVATHI.R,100.0,100.0,19680,19680,Computer Science and Engineering,0,NaN,NaN

###### Department wise codekata performence (pie chart)

In [69]:
import plotly.express as px
fig = px.pie(df, values='CodeKata Score', names='Department')
fig.show()

###### Department wise toppers (horizantal bar graph or any visual representations of your choice)

In [79]:
topppers1=df.nlargest(10,'CodeKata Score')
topppers1

,Name,python,mysql,Previous Geekions,CodeKata Score,Department,Rising,python_en,computational_thinking
0,A.Dharani,82.0,20.0,24500,24500,Computer Science and Engineering,0,NaN,NaN
1,V.JEEVITHA,82.0,20.0,21740,21740,Computer Science and Engineering,0,NaN,NaN
2,HEMAVATHI.R,100.0,100.0,19680,19680,Computer Science and Engineering,0,NaN,NaN
84,ASHOK KUMAR K,100.0,31.0,19400,19400,Electronics and Electrical Engineering,0,0.0,9.0
85,Chandru,0.0,0.0,14150,14490,Computer Science and Engineering,340,20.0,0.0
86,Ganesh Ramkumar R,-1.0,24.0,8790,10790,Computer Science and Engineering,2000,55.0,6.0
3,Mugunthan S,100.0,47.0,10610,10610,Computer Science and Engineering,0,NaN,NaN
87,Bodipudi Harini,-1.0,35.0,10040,10040,Electronics and Communication Engineering,0,0.0,-1.0
88,VIINU V P,-1.0,24.0,9150,9150,Electronics and Electrical Engineering,0,100.0,-1.0
4,Sathammai.S,100.0,8.0,8980,8980,Computer Science and Engineering,0,NaN,NaN

In [81]:
fig=px.bar(topppers1,x='Department',y='CodeKata Score',title='Department wise toppers')
fig.show()